
@font-face {
  font-family: 'iconfont';  /* project id 1467722 */
  src: url('//at.alicdn.com/t/font_1467722_d0des1lu1gs.eot');
  src: url('//at.alicdn.com/t/font_1467722_d0des1lu1gs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1467722_d0des1lu1gs.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1467722_d0des1lu1gs.woff') format('woff'),
  url('//at.alicdn.com/t/font_1467722_d0des1lu1gs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1467722_d0des1lu1gs.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala::after {
  content: "\e600";
  font-size: 20px;
  font-weight: 600;
  margin-left: 0.2rem;
  color: #ccc;
}
li:hover .icon-xiala::after {
  color: white;
}

.icon-search:before {
  content: "\e6aa";
  font-size: 22px;
  font-weight: 600;
  margin-right: 0.2rem;
  line-height: 60px;
}

.icon-VIP:before {
  content: "\e876";
  font-size: 20px;
  font-weight: 600;
  margin-right: 0.2rem;
  color: rgb(238, 180, 119); 
  line-height: 60px;
}

.icon-play:before {
  content: "\e601";
}

